.App {
    text-align: center;
}
.logo {
    height: 10vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}
.navbars-container {
    display: flex;
    flex-direction: column;
}
.navbar {
    color: #6e5f70;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-style: solid;
    border-width: 0 0 2px 0;
    border-bottom-color: #6e5f70;
}
.navButtons{
    display: flex;
    margin-right: 60px;
}
.secondNavBarButtons {
    white-space: nowrap;
    color: #6e5f70;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
    position: relative;
    transition: color 0.3s ease;
    border-style: solid;
    border-radius: 10px;
    border-width: 2px;
    border-color: #6e5f70;
    padding: 5px 10px;
}
