.KontaktContainer{
    padding: 2% 20%;
    min-height: calc(100vh - 352px)
}
.Heading1{
    font-family: 'open sans condensed', sans-serif;
    font-weight: 700;
}
.Heading2{
    margin-top: 70px;
    font-family: 'open sans condensed', sans-serif;
    font-weight: 700;
}
.FillerText{
    padding-left: 5px;
}